.content-home {
  max-height: 50%;
  overflow-y: scroll;
  background: #0e8a6560;

  &__title {
    display: flex;
    align-items: center;
  }

  &__avisos {
    h1 {
      font-size: 20px;
    }
    h3 {
      color: #701d0f;
    }
  }
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #0e8a65fd;
  -webkit-border-radius: 6px;
}
