.colaborate {
  display: flex;
  justify-content: center;
  width: 55%;
  margin: 0 auto;
  margin-top: 50px;
  &__table {
    border-collapse: collapse;
    width: 100%;
    margin: 25px 0;
    font-size: 22px;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    thead tr {
      background-color: #053527fa;
      color: #ffffff;
      text-align: left;
    }
    tbody tr {
      border-bottom: 10px solid #0e8a64fa;
    }
    tbody tr:nth-of-type(even) {
      background-color: #f3f3f3;
    }
    tbody tr:last-of-type {
      border-bottom: 2px solid #009879;
    }
    tbody tr.active-row {
      font-weight: bold;
      color: #009879;
    }
    a {
      color: #053527fa;
      cursor: pointer;
    }
  }
}
