.home {
  display: flex;
  margin-top: 5%;
  max-height: 600px;

  &__section-menu {
    background: #dfdfdf;
    width: 70%;
    box-shadow: 2px 4px 8px -2px #000;
        &__list-items {
          display: flex;
          flex-wrap: wrap;
        }
  }

  &__section-notice {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 5px;

    .section-photo {
      margin: 5px;
      border: 12px solid #383838;
      background-color: #ffffff;
      img {
        max-width: 95px;
        max-height: 95px;
      }
    }

  }
}

button {
  background: linear-gradient(#111936, #03a7bd);
  margin: 25px;
  border: none;
  border-radius: 5px;
  width: 250px;
  height: 130px;
  font-size: 35px;
  color: #fff;
  cursor: pointer;
  box-shadow: 4px 3px 8px -2px #444444;
  a {
    font-size: 20px;
    text-shadow: 2px 2px 4px #211a1a;
    font-weight: bold;
  }
}
button:hover {
  opacity: 0.8;
  transform: 0.3s;
}
