<app-card [titleCard]="titlePage">
    <div class="">
        <div class="row">
            <label class="label-input">nome</label>
            <input class="input-field"/>
        </div>
        <div class="row">
            <label class="label-input">tipo</label>
            <input class="input-field"/>
        </div>
        <div class="row">
            <label class="label-input">data</label>
            <input class="input-field"/>
        </div>
        <div class="row mt-1">
            <label class="label-input">localização</label>
            <input class="input-field"/>
        </div>
    </div>
    <button type="button" class="btn-primary">TESTANDO BOTAO</button>
    <button type="button" class="btn-secondary">TESTANDO BOTAO</button>
</app-card>