.footer {
  background: linear-gradient(to right, #111936, #912626);;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 5%;
  display: flex;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  h2 {
    font-family: 'Lucida Sans';
    padding: 5px;
    font-size: 13px;
    color: #fff;

  }
  span {
    color: #fff;
    font-size: 13px;
    margin-right: 20px;
  }
}
