.footer {
  background: #0e8a64fa;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 5%;
  display: flex;
  margin: 0;
  justify-content: space-between;
  align-items: center;
 font-family: 'Lucida Sans';
  h2 {
    font-size: 13px;
    color: #fff;

  }
  span {
    color: #fff;
    font-size: 13px;
    margin-right: 20px;
  }
}
