.home {
  display: flex;
  margin-top: 5%;
  max-height: 600px;

  &__section-home {
    width: 15%;

  }

  &__section-notice {
    background-color: #000;
    margin: 0 auto;

    padding: 5px;

  }
}
