<div class="navbar">
  <section class="navbar__menu-logo">
    <div class="navbar__logo">
      <img src="./../../../assets/img/edificio-png.png"/>
    </div>
  </section>
  <hr/>
  <div class="row">
    <span>Sessão {{minutes}} min e {{seconds}} segundos.</span>
  </div>
  <hr/>
  <section class="navbar__menu-options" *ngFor="let item of menu">
    <button routerLinkActive="active" routerLink="{{item.router}}">
      <i class="{{ item.icon }}"></i>
      <a> {{item.label}}</a>
    </button>
  </section>
</div>
