/* Grid */

.grid {
	display: grid;
	grid-template-columns: 0.5fr 1.5fr 1fr;
	
}

.nav {
	grid-area: nav;
}

.content {
	grid-area: content;
	margin: 0 auto;
}

.sidenav {
	grid-area: sidenav;
	max-width: 45%;
}

.grid-template-areas-1 {
	grid-template-areas:
		"nav nav nav"
		"sidenav content content"
		"sidenav content content"
		;
}