.obra {
  display: flex;
  justify-content: center;
  margin: 120px 15px;
  width: 100%;
  &__options {
    button {
      background-color: #0e8a64fa;
      margin: 25px;
      border: none;
      border-radius: 5px;
      width: 250px;
      height: 130px;
      font-size: 35px;
      color: #fff;
      cursor: pointer;
      box-shadow: 0px 0px 20px 5px #646464;
      a {
        font-size: 25px;
        font-weight: bold;
      }
    }
    button:hover {
      background-color: #053527fa;
      box-shadow: none;
      color: #0e8a64fa;
      transform: 0.4s;
    }

  }

}
