.navbar {
  background: linear-gradient(#111936, #912626);
  width: 15%;
  height: 60%;
  position: fixed;
  margin-top: 2%;
  border-radius:0px 20px 0px 20px;

  &__menu-logo {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    div {
      border-radius:0px 20px 0px 20px;
      width: 85px;
      height: 85px;
      border: 5px solid;
      border-color: #000;
      background-color: #fff;
      margin: 15px;
      box-shadow: 1px 1px 10px 5px #9b9b9ba4;
      padding: 5px;
      img {
        width: 100%;

      }
    }
  }

  &__menu-options {
    padding: 12px;

    button {
      background: transparent;
      border: none;
      font-size: 15px;
      color: #fff;
      cursor: pointer;
      i {
        position: fixed;
      }
      a {
        margin: 15px;
        font-family: Impact;
        text-shadow: 2px 2px 4px #211a1a;
      }
    }

    hr {
      border: none;
      height: 1px;
      border-top: 1px solid #053527fa;
    }
    .active {
      color: #595959;
    }
  }

  a:hover {
    font-size: 18px;
    transition: 0.2s;
  }
}
