.navbar {
  background: linear-gradient(#111936, #03a7bd);
  margin-top: 10px;
  height: 90vh;
  width: 250px;
  max-width: 250px;

  &__menu-logo {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    div {
      border-radius:0px 20px 0px 20px;
      width: 85px;
      height: 85px;
      border: 5px solid;
      border-color: #000;
      background-color: #fff;
      margin: 15px;
      box-shadow: 1px 1px 10px 5px #9b9b9ba4;
      padding: 5px;
      img {
        width: 100%;

      }
    }
  }

  span {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 14px;
    font-family: 'Verdana';
  }

  &__menu-options {
    margin: 10px 0 0 6px;
    padding: 12px;

    button {
      background: transparent;
      border: none;
      font-size: 20px;
      color: #fff;
      cursor: pointer;
      a {
        margin: 15px;
        font-family: Impact;
        text-shadow: 2px 2px 4px #211a1a;
      }
    }
    .active {
      color: #03a7bd;
    }
  }

  button:hover {
    color: #03a7bd;
    transition: 0.2s;
  }
}
