/* You can add global styles to this file, and also import other style files */

.general {
    background: #1a1a1a;
}

.card {
    background: #ccf0ff;
    height: 600px;
    border: 3px solid #fff;
    border-radius: 5px;
    padding: 5px;
}

.input-field {
    border: 1px solid #03a7bd;
    border-radius: 5px;
    height: 20px;
}

.b-gradient {
	border-image-source: linear-gradient(#111936, #03a7bd);
}

h3 {
    font-family: Verdana;
}