.list-card {
    width: 550px;
    padding: 10px 5px 15px 5px;
    background: #efefef;
    box-shadow: 2px 4px 8px -2px #000;

    h3 {
        text-align: center;
        color: #03a7bd;
    }

    hr {
        margin: 18px 15px 20px 0;
        border: 1px solid #03a7bd;
    }

    &__list {
        display: flex;
        margin: 2px;
    }

    &__photo {
        display: flex;
        justify-content: center;
        padding: 1px;
        margin: 0 5px 5px 0;
        width: 120px;
        height: 120px;
        img {
            max-width: 95px;
            height: 95px;
            border-radius: 50px;
            margin: auto;
            object-fit: cover;
        }
    }

    &__info {
        width: 70%;
        margin: 2px;
        background: #03a7bd33;
        border-bottom: 2px solid #03a7bd;
        border-radius:0px 20px 0px 20px;
        padding: 15px 0 0 5px;
        li {
            margin-bottom: 7px;
            font-family: Verdana;
            font-size: 14px;
            list-style: none;
        }
    }
}

